# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment folders
venv/
env/
.venv/
.env
# Ignore system files
.DS_Store
*.log

# Ignore Streamlit config or cache
.streamlit/
